html {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Navigation */

nav {
  height: 50px;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #70bc4e;
}

nav svg {
  height: 50px;
  width: auto;
}

/* Footer */

footer {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #70bc4e;
}

footer svg {
  width: 50px;
  height: auto;
}
